<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.LoginMapper">

    <select id="validateLogin" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE email = #{email} AND password = #{password}
    </select>

    <insert id="registerUser" parameterType="map">
        INSERT INTO users (email, password)
        VALUES (#{emailOrPhone}, #{password})
    </insert>

</mapper>
